	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/elephant.png" value="elephant" ng-click="addSecCharacter('elephant')"/></a>
				<h1>elephant</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/queen.png" value="queen" ng-click="addSecCharacter('queen')"/></a>
				<h1>queen</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="secCharCard">
				<a><img class="componentImg" src="images/moose.png" value="moose" ng-click="addSecCharacter('moose')"/></a>
				<h1>moose</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/queenb.png" value="Queen Brenda" ng-click="addSecCharacter('Queen Brenda')"/></a>
				<h1>Queen Brenda</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/monster2.png" value="monster" ng-click="addSecCharacter('monster')"/></a>
				<h1>monster</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="secCharCard">
				<a><img class="componentImg" src="images/wizard-compressor.png" value="Wizard Gilbert" ng-click="addSecCharacter('Wizard Gilbert')"/></a>
				<h1>Wizard Gilbert</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/piratecholo.png" value="cholo pirate" ng-click="addSecCharacter('cholo pirate')"/></a>
				<h1>cholo pirate</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="secCharCard">
				<a><img class="componentImg" src="images/cow.png" value="cow" ng-click="addSecCharacter('cow')"/></a>
				<h1>cow</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="secCharCard">
				<a><img class="componentImg" src="images/whale.png" value="whale" ng-click="addSecCharacter('whale')"/></a>
				<h1>whale</h1>
	    	</div>
	  	</div>
	</div>