	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/crown2.png" value="crown" ng-click="addItem('crown')"/></a>
				<h1>crown</h1>
			</div>
		</div>
	    <div class="col-md-4">
	      	<div class="itemCard">
				<a><img class="componentImg" src="images/carpet2.png" value="magic carpet" ng-click="addItem('magic carpet')"/></a>
				<h1>magic carpet</h1>
	    	</div>
	  	</div>
	    <div class="col-md-4">
	      	<div class="itemCard">
				<a><img class="componentImg" src="images/magglass.png" value="magnifying glass" ng-click="addItem('magnifying glasse')"/></a>
				<h1>magnifying glass</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/olaf.png" value="Olaf doll" ng-click="addItem('Olaf doll')"/></a>
				<h1>Olaf</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/guitar.png" value="guitar" ng-click="addItem('guitar')"/></a>
				<h1>guitar</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="itemCard">
				<a><img class="componentImg" src="images/crayons.png" value="crayon" ng-click="addItem('crayon')"/></a>
				<h1>crayons</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/skateboard.png" value="skateboard" ng-click="addItem('skateboard')"/></a>
				<h1>skateboard</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/lego.png" value="legos" ng-click="addItem('lego')"/></a>
				<h1>legos</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/macbook.png" value="MacBook" ng-click="addItem('MacBook')"/></a>
				<h1>MacBook</h1>
	    	</div>
	    </div>

	</div>