	<h1 class="storytimeHeader">storytime</h1>
	
	<h3 class="choiceHeader">{{title}}</h3>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/donut.png" value="donut" ng-click="addFood('donut')"/></a>
				<h1>donut</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/strawberry.png" value="strawberry" ng-click="addFood('strawberry')"/></a>
				<h1>strawberry</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="foodCard">
				<a><img class="componentImg" src="images/gingerbreadman.png" value="gingerbread man" ng-click="addFood('gingerbread man')"/></a>
				<h1>gingerbread man</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/bananas.png" value="banana" ng-click="addFood('banana')"/></a>
				<h1>banana</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/fries.png" value="french fry" ng-click="addFood('french fries')"/></a>
				<h1>french fry</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="foodCard">
				<a><img class="componentImg" src="images/burger.png" value=" hamburger" ng-click="addFood('hamburger')"/></a>
				<h1>hamburger</h1>
	    	</div>
	  	</div>
	</div>