	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/ninja.png" value="ninja" ng-click="addMainCharacter('ninja')"/></a>
				<h1>ninja</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/Lennon.png" value="Lennon" ng-click="addMainCharacter('Lennon')"/></a>
				<h1>Lennon</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="mainCharCard">
				<a><img class="componentImg" src="images/ghost.png" value="ghost" ng-click="addMainCharacter('ghost')"/></a>
				<h1>ghost</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/robot.png" value="robot" ng-click="addMainCharacter('robot')"/></a>
				<h1>robot</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/prince2.png" value="prince" ng-click="addMainCharacter('prince')"/></a>
				<h1>prince</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="mainCharCard">
				<a><img class="componentImg" src="images/panda.png" value="panda" ng-click="addMainCharacter('panda')"/></a>
				<h1>panda</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	    <div class="col-md-4">
	      	<div class="mainCharCard">
				<a><img class="componentImg" src="images/genie.png" value="genie" ng-click="addMainCharacter('genie')"/></a>
				<h1>genie</h1>
	    	</div>
	  	</div>
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/princessmeg.png" value="Princess Meg" ng-click="addMainCharacter('Princess Meg')"/></a>
				<h1>Princess Meg</h1>
	    	</div>
	    </div>
	  	<div class="col-md-4">
	    	<div class="mainCharCard">
				<a><img class="componentImg" src="images/astronaut2.png" value="astronaut" ng-click="addMainCharacter('astronaut')"/></a>
				<h1>astronaut</h1>
			</div>
		</div>

	</div>