	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/donut.png" value="donut" ng-click="addFood('donut')"/></a>
				<h1>donut</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/strawberry.png" value="strawberry" ng-click="addFood('strawberry')"/></a>
				<h1>strawberries</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="foodCard">
				<a><img class="componentImg" src="images/gingerbreadman.png" value="gingerbread man" ng-click="addFood('gingerbread')"/></a>
				<h1>gingerbread</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/bananas.png" value="banana" ng-click="addFood('banana')"/></a>
				<h1>bananas</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/fries.png" value="french fry" ng-click="addFood('french fry')"/></a>
				<h1>french fries</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="foodCard">
				<a><img class="componentImg" src="images/burger.png" value=" hamburger" ng-click="addFood('hamburger')"/></a>
				<h1>hamburger</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/popcorn.png" value="popcorn" ng-click="addFood('popcorn')"/></a>
				<h1>popcorn</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="foodCard">
				<a><img class="componentImg" src="images/icecream.png" value="ice cream" ng-click="addFood('ice cream')"/></a>
				<h1>ice cream</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="foodCard">
				<a><img class="componentImg" src="images/taco.png" value="taco" ng-click="addFood('taco')"/></a>
				<h1>taco</h1>
	    	</div>
	  	</div>
	</div>