	<h1 class="storytimeHeader">storytime</h1>
	
	<h3 class="choiceHeader">{{title}}</h3>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/vespa.png" value="vespa" ng-click="addTransport('vespa')"/></a>
				<h1>vespa</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/van2.png" value="hippie van" ng-click="addTransport('hippie van')"/></a>
				<h1>hippie van</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="transportCard">
				<a><img class="componentImg" src="images/raft.png" value="raft" ng-click="addTransport('raft')"/></a>
				<h1>raft</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/unicorn.png" value="unicorn" ng-click="addTransport('unicorn')"/></a>
				<h1>unicorn</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg carImg" src="images/car3.png" value="car" ng-click="addTransport('car')"/></a>
				<h1>car</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="transportCard">
				<a><img class="componentImg" src="images/wagon.png" value="wagon" ng-click="addTransport('wagon')"/></a>
				<h1>wagon</h1>
	    	</div>
	  	</div>
	</div>