	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/vespa.png" value="scooter" ng-click="addTransport('scooter')"/></a>
				<h1>scooter</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/van2-compressor.png" value="hippie van" ng-click="addTransport('hippie van')"/></a>
				<h1>hippie van</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="transportCard">
				<a><img class="componentImg" src="images/ship.png" value="ship" ng-click="addTransport('ship')"/></a>
				<h1>ship</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/unicorn.png" value="unicorn" ng-click="addTransport('unicorn')"/></a>
				<h1>unicorn</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg carImg" src="images/car3.png" value="car" ng-click="addTransport('car')"/></a>
				<h1>car</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="transportCard">
				<a><img class="componentImg" src="images/dragonnice.png" value="dragon" ng-click="addTransport('friendly dragon')"/></a>
				<h1>friendly dragon</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/carDelorean.png" value="DeLorean" ng-click="addTransport('DeLorean')"/></a>
				<h1>DeLorean</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class="transportCard">
				<a><img class="componentImg" src="images/submarineyellow.png" value="yellow submarine" ng-click="addTransport('yellow submarine')"/></a>
				<h1>yellow submarine</h1>
			</div>
		</div>
	    <div class="col-md-4">
	      	<div class="transportCard">
				<a><img class="componentImg" src="images/spaceship3.png" value="spaceship" ng-click="addTransport('spaceship')"/></a>
				<h1>spaceship</h1>
	    	</div>
	  	</div>
	</div>