<div>
	<h2 class="builderIntro">Hi there, friend!<br>Ready to get started building our story?<br>First thing's first...</h2>
</div>
<br>
	
	<h3 class="choiceHeader">{{title}}</h3>
	<br>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="placeCard">
				<a><img class="componentImg" src="images/circus2.png" value="circus" ng-click="addPlace('circus')"/></a>
				<h1>circus</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="placeCard">
				<a><img class="componentImg" src="images/castle.png" value="castle" ng-click="addPlace('castle')"/></a>
				<h1>castle</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="placeCard">
				<a><img class="componentImg" src="images/farm.png" value="farm" ng-click="addPlace('farm')"/></a>
				<h1>farm</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="placeCard">
				<a><img class="componentImg" src="images/zoo.png" value="zoo" ng-click="addPlace('zoo')"/></a>
				<h1>zoo</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="placeCard">
				<a><img class="componentImg" src="images/beach2.png" value="beach" ng-click="addPlace('beach')"/></a>
				<h1>beach</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="placeCard">
				<a><img class="componentImg" src="images/jungle.png" value="jungle" ng-click="addPlace('jungle')"/></a>
				<h1>jungle</h1>
	    	</div>
	  	</div>
	</div>