	<h1 class="storytimeHeader">storytime</h1>
	
	<h2 class="choiceHeader">{{title}}</h2>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/witch.png" value="witch" ng-click="addVillain('witch')"/></a>
				<h1>witch</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/snake.png" value="snake" ng-click="addVillain('snake')"/></a>
				<h1>snake</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="villainCard">
				<a><img class="componentImg" src="images/piratehook-compressor.png" value="Captain Hook" ng-click="addVillain('Captain Hook')"/></a>
				<h1>Captain Hook</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/octopus.png" value="octopus" ng-click="addVillain('octopus')"/></a>
				<h1>octopus</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/trex.png" value="t-rex" ng-click="addVillain('t-rex')"/></a>
				<h1>t-rex</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="villainCard">
				<a><img class="componentImg" src="images/spider.png" value="spider" ng-click="addVillain('spider')"/></a>
				<h1>spider</h1>
	    	</div>
	  	</div>
	</div>

	<div class="row">
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/pirate.png" value="pirate" ng-click="addVillain('pirate')"/></a>
				<h1>pirate</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/shark2.png" value="shark" ng-click="addVillain('shark')"/></a>
				<h1>shark</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="villainCard">
				<a><img class="componentImg" src="images/wolf.png" value="big bad wolf" ng-click="addVillain('big bad wolf')"/></a>
				<h1>big bad wolf</h1>
	    	</div>
	  	</div>
	</div>

	<!-- <button type="button" class="btn btn-default btn-lg" id ="buildButton">build my story!</button> -->

	