	<h1 class="storytimeHeader">storytime</h1>
	
	<h3 class="choiceHeader">{{title}}</h3>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/caillou.png" value="Caillou" ng-click="addVillain('Caillou')"/></a>
				<h1>Caillou</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/snake.png" value="snake" ng-click="addVillain('snake')"/></a>
				<h1>snake</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="villainCard">
				<a><img class="componentImg" src="images/piratehook.png" value="Captain Hook" ng-click="addVillain('Captain Hook')"/></a>
				<h1>Captain Hook</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/king.png" value="king" ng-click="addVillain('king')"/></a>
				<h1>king</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="villainCard">
				<a><img class="componentImg" src="images/trump.png" value="Donald Trump" ng-click="addVillain('Donald Trump')"/></a>
				<h1>Donald Trump</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="villainCard">
				<a><img class="componentImg" src="images/zebra.png" value="zebra" ng-click="addVillain('zebra')"/></a>
				<h1>zebra</h1>
	    	</div>
	  	</div>
	</div>

	<!-- <button type="button" class="btn btn-default btn-lg" id ="buildButton">build my story!</button> -->

	