	<h1 class="storytimeHeader">storytime</h1>
	
	<h3 class="choiceHeader">{{title}}</h3>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/crown.png" value="crown" ng-click="addItem('crown')"/></a>
				<h1>crown</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/phone.png" value="phone" ng-click="addItem('phone')"/></a>
				<h1>phone</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="itemCard">
				<a><img class="componentImg" src="images/magglass.png" value="magnifying glass" ng-click="addItem('magnifying glass')"/></a>
				<h1>magnifying glass</h1>
	    	</div>
	  	</div>
	</div>


	<div class="row">
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/present.png" value="present" ng-click="addItem('present')"/></a>
				<h1>present</h1>
			</div>
		</div>
	  	<div class="col-md-4">
	    	<div class="itemCard">
				<a><img class="componentImg" src="images/recordplayer.png" value="record player" ng-click="addItem('record player')"/></a>
				<h1>record player</h1>
	    	</div>
	    </div>
	    <div class="col-md-4">
	      	<div class="itemCard">
				<a><img class="componentImg" src="images/shoe.png" value="shoe" ng-click="addItem('shoe')"/></a>
				<h1>shoe</h1>
	    	</div>
	  	</div>
	</div>