<div ng-init=setStories()>
	<h1 class="storytimeHeader">storytime</h1>
	
	<div>
	<img class ="bookshelfImg" src="images/bookshelf.png">
	<br>
	<h1 class="bookshelfHeader">my bookshelf</h2>
	</div>


	<div ng-repeat="story in stories"> 
	    <div class="bookshelfList">
	      	<div>
	      		<a ng-href="#!/storytime/mybookshelf/{{story.id}}"><img src="images/book.png" class="singleBookImg"><span class="titleText" >the {{story.chosenMainCharacter}} and the {{story.chosenSecondCharacter}}</span></a>
	      	</div>
	    </div>			
	</div>




</div>