<h1 class="storytimeHeader">storytime</h1>
	
<h2 class="storyHeading">{{title}}</h2>
<br>
<br>
	<div class="story">
		<h1 class="once">{{storyBegin}}</h1>
			<div id="storyText">{{storyBody}}</div>
		<h2 class="once">{{storyEnd}}</h2>
	</div>


	<div class="storyPageButtons">
		<a type="button" class="btn btn-default btn-lg" ng-click=readSelectedStory()><img src="images/reader2.png" class="buttonImg" /><br>read my story!</a>
		<br>
		<br>
		<a type="button" class="btn btn-default btn-lg"><img src="images/trash.png" class="buttonImg" ng-click=deleteOneStory(story.id)><br>throw away this story</a>
	</div>	


<!-- 		<a type="button" class="btn btn-default btn-lg oneStoryPageButtons" ng-href="#!/storytime/mybookshelf/{{story.id}}/edit"><img src="images/edit2.png" class="oneStoryButtonImg" /><br>change this story</a> -->

